@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }

  html {
    scroll-behavior: smooth;
  }

  .active-item {
    @apply border-b border-primary-purple;
  }

  .custom-input {
    @apply border-2 border-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:text-white rounded-md w-full px-5 py-2 transition duration-300 text-[14px] outline-0 mt-1 focus:border-primary-purple
  }

  .custom-label {
    @apply text-[13px] uppercase text-gray-400 mt-6;
  }

  .error-message {
    @apply text-[12px] text-red-400 mt-1 tracking-wide;
  }

  .error-input {
    @apply custom-input border-red-600 focus:border-red-600 custom-input;
  }

  .sidebar {
    @apply flex flex-col sm:relative absolute p-5 bg-white duration-300 ease-in-out min-h-full md:border-0 border-r-2 border-gray-200
  }

  .sidebar-title {
    @apply text-[15px] transition-all my-1 tracking-wide text-primary-gray  hover:text-primary-purple;
  }

  .sidebar-subtitle {
    @apply cursor-pointer text-[14px] transition-all my-2 text-secondary-blue hover:text-primary-purple;
  }

  .sidebar-icon {
    @apply p-2 rounded-md bg-secondary-gray text-[18px];
  }


  /*  .banner {*/
  /*    @apply grid grid-cols-2 bg-white rounded-xl px-10 items-center;*/
  /*  }*/
  /*  .card-icon {*/
  /*    @apply flex justify-center items-center border-2 border-gray-200 bg-secondary-gray lg:rounded-xl rounded-md xl:w-12 xl:h-12 lg:w-8 lg:h-8 w-6 h-6 text-primary;*/
  /*  }*/
  /*  .custom-button {*/
  /*    @apply bg-secondary-blue hover:bg-primary-blue duration-300 ease-in-out text-white p-3 rounded-md tracking-wide text-[14px];*/
  /*  }*/
  /*  .colored-button {*/
  /*    @apply custom-button rounded-full h-8 w-8;*/
  /*  }*/
  /*  .custom-label {*/
  /*    @apply uppercase text-[13px] text-primary-gray mt-5 dark:text-gray-500;*/
  /*  }*/
  /*  .custom-input {*/
  /*    @apply border-2 border-secondary-gray rounded-md xl:w-full lg:w-52 w-full px-5 py-2 mt-1 focus:outline-none focus:border-primary transition duration-300 text-[14px]*/
  /*  }*/
  /*  .search-input {*/
  /*    @apply custom-input bg-[#2E37A40D] border-0 py-4 rounded-xl placeholder:text-secondary-blue w-96;*/
  /*  }*/
  /*}*/
  /**!*/

}
